.font-comforta {
  font-family: 'Comfortaa', cursive;
}

.font-source {
  font-family: 'Source Code Pro', monospace;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: scroll;
}

main {
  flex: 1 0 auto;
  /*display: flex;*/
}

.main-index {
  position: relative;
}

.main-nav {
  margin-bottom: -30px;
  z-index: 5;
}

.whole-title {
  margin-left: 4em;
}

.title {
  letter-spacing: 1em;
  /*margin-right: -1em;*/
}

.page-title {
  /*text-align: center;*/
  margin-top: 1em;
}

#input-latlong {
  padding: .5em;
  border: 1px solid red;
  border-radius: 10px;
  margin: 1em, 0;
}

.foota {
  z-index: 5;
  margin-top: -30px;
}

.signup-btn, .favorite-btn {
  margin-bottom: 2em;
}

.latlong-text {
  color: white;
  text-shadow: 0 2px 1px red;
  text-align: center;
}

.favorite-img {
  box-shadow: 0 0 20px blue;
}

.main-about-info {
  margin: 5%;
  height: 50vh;
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  padding: 1em;
}

.main-about-info>h2 {
  margin: 1em;
}

.img-space {
  margin: .5em 1em .5em .5em;
  /*padding: -1em;*/
}

.bio-img {
  /*padding: -1em 0 -1em 0;*/
}

.name {
  text-align: center;
}

.lessImage {
  margin: 2% 3%!important;
  padding: 2% !important;
}

#favImage {
  margin-top: 7%;
  padding-top: 2%;
  margin-left: 1%;
  width: 98%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  position: fixed;
}

.cross {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px auto auto -8px;
  z-index: 1024;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEhSURBVDiNrZQxTsNAEEXfLDSWRYjBBTSkSEOZgnCASBQ03IvrUKTiBKaClpIUKHJsIhRHKfCniBdMJCcKyZemmZ3/NNrdGZNEXWbmgAvgBDhN0/Q2juMhMKliJKmsew5XABHQB1o+FwRBDLSr6AKXZpZI+vA1rgboAoM6oEEtYFDV/0KqDnqAbQDUfb3KhzOzA+B6C4CXAX0zc/4Sj7YEeLWAjmP5Crso2gvExuPxfRiG500VQRCczefz96bzoigyA26A46ai2Wx2F4bhw5pOcsfyF+6ibG+QEfD5T8AUeHOSvoAE0AbDqkrgSVLpACTlwMsWoBJ49kP4M8WSXs1sAlyxfginQCJp6hN/VoGkzMwegQ4QAe3FYpECOZDRsE++AWYTYG33oiq+AAAAAElFTkSuQmCC);
}

#earth_div1, #earth_div2 {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

#earth_div1 {
  right: 50%;
  top: 8px;
  /*border: 1px dotted red;*/
}

#earth_div2 {
  left: 50%;
}
