@media(min-width:993px) {
  .whole-title {
    margin-left: 4em;
  }
}

.font-comforta {
  font-family: 'Comfortaa', cursive;
}

.font-source {
  font-family: 'Source Code Pro', monospace;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: scroll;
}

main {
  flex: 1 0 auto;
  /*display: flex;*/
}

.main-index {
  position: relative;
}

.main-nav {
  margin-bottom: -30px;
  z-index: 5;
}

.menu-link {
  min-width: 10px;
}

.title {
  letter-spacing: 1em;
  /*margin-right: -1em;*/
}

.page-title {
  /*text-align: center;*/
  margin-top: 1em;
}

#input-latlong {
  padding: .5em;
  border: 1px solid red;
  margin: 0 3em 1em -1em;
}

.foota {
  z-index: 5;
  margin-top: -30px;
}

.signup-btn, .favorite-btn {
  margin-bottom: 2em;
}

.favorite-img {
  box-shadow: 0 0 20px blue;
}

.modal-loc {
  text-align: center;
}

#modal1 {
  width: 80vw;
  height: 80vh;
}

.modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal-original-section {
  grid-column: 1/2;
  border-right: solid 1px lightgrey;
  height: 100%;
  justify-items: stretch;
}

.modal-antipode-section {
  grid-column: 2/3;
  height: 100%;
  justify-items: stretch;
}

.modal-img-sat, .modal-img-streetview {
  object-fit: cover;
  overflow: hidden;
  width: 82%;
  box-sizing: border-box;
  border: 5px solid black;
}

.modal-streetview-original-contain {
  grid-row: 2/3;
}

.modal-streetview-antipode-contain {
  grid-row: 2/3
}

.modal-img-original-contain {
  /*grid-column: 1/2;*/
}

.modal-img-antipode-contain {
  /*grid-column: 2/3;*/
}

.main-about-info {
  margin: 5% 5% 5% 5%;
  /*height: 50vh;*/
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  padding: 1em;
}

.main-about-info>h2 {
  margin: 1em;
}

.main-about-text {
  margin-bottom: 10%;
}

.team-info {
  margin: 5%;
  margin-bottom: 10%;
  /*height: 50vh;*/
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  padding: 1em;
}

.img-space {
  margin: .5em;
  /*padding: 1em;*/
  object-fit: contain;
  overflow: hidden;
}

.bio-img {
  object-fit: contain;
  width: 90%;
}

.name:hover {
  font-weight: bold;
  color: red;
}

.lessImage {
  margin: 2% 3%!important;
  padding: 2% !important;
}

#favImage {
  margin-top: 7%;
  padding-top: 2%;
  margin-left: 1%;
  width: 98%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  position: fixed;
}

.symbol {
  line-height: 0;
}

.login-main {
  margin-top: 50px;
}

.choose-btn {
  z-index: 50;
  position: fixed;
  right: 50%;
  top: 50%;
}

.add-fav-btn {
  margin-left: 2em;
}

.address {
  margin: 1em;
}

.cross {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px auto auto -8px;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEhSURBVDiNrZQxTsNAEEXfLDSWRYjBBTSkSEOZgnCASBQ03IvrUKTiBKaClpIUKHJsIhRHKfCniBdMJCcKyZemmZ3/NNrdGZNEXWbmgAvgBDhN0/Q2juMhMKliJKmsew5XABHQB1o+FwRBDLSr6AKXZpZI+vA1rgboAoM6oEEtYFDV/0KqDnqAbQDUfb3KhzOzA+B6C4CXAX0zc/4Sj7YEeLWAjmP5Crso2gvExuPxfRiG500VQRCczefz96bzoigyA26A46ai2Wx2F4bhw5pOcsfyF+6ibG+QEfD5T8AUeHOSvoAE0AbDqkrgSVLpACTlwMsWoBJ49kP4M8WSXs1sAlyxfginQCJp6hN/VoGkzMwegQ4QAe3FYpECOZDRsE++AWYTYG33oiq+AAAAAElFTkSuQmCC);*/
  background-image: url(/images/crosshairs2.png);
}

#earth_div1, #earth_div2 {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.earth-marker-container {}

#earth_div_markers {
  margin-top: 15%;
  /*position: absolute !important;*/
  /*top: 25%;
  right: 25%;
  bottom: 0;
  left: 25%;
  background-color: #fff;*/
  border-radius: 50%;
  height: 20em;
  /*width:20em;*/
  /*margin-left:calc(50%-10em);*/
  /*right:calc(50%-10em);*/
}

#earth_div1 {
  right: 50%;
  top: 8px;
  /*border: 1px dotted red;*/
}

#earth_div2 {
  left: 50%;
}

.roundedBorder {
  border-radius: 5px!important;
}

.hidden {
  display: none;
}
